<a href="https://colab.research.google.com/github/MlMauriciolopes/Faculdade-Impacta/blob/main/2102930_trabalho_final_arquitetura_bigdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!ls 
!rm -rf *
#Instacao e configuracao do Java 8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Download do Apache Spark
!wget -q http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
#Descompatacao do Apache Spark
!tar xf spark-3.1.2-bin-hadoop3.2.tgz
#Instalacao do Findspark
!pip install -q findspark

consulta.json  spark-3.1.2-bin-hadoop3.2  spark-3.1.2-bin-hadoop3.2.tgz

In [19]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop3.2"

In [20]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [21]:
import pyspark
print(pyspark.__version__)

3.1.2

In [32]:
!curl -X GET --header 'Accept: application/json' 'https://www3.bcb.gov.br/vet/rest/v2/listaPontoCambio?cnpj=00000000' > consulta.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  150k    0  150k    0     0  90981      0 --:--:--  0:00:01 --:--:-- 90981

In [33]:
#Instancia o contexto do Spark
sc = spark.sparkContext
#Realiza a leitura da nossa consulta realizada na API do
path = "/content/consulta.json"
#Declara dataframe df com o conteudo da api que estava no JSON
df = spark.read.json(path)

In [28]:
#Imprime a estrutura de dados do nosso dataframe
df.printSchema()
#Imprime uma amosta de dados ( para especificar as linhas basta colocar a quantidade entre ())
df.show(10)

root
 |-- listaPontoCambio: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- cidade: string (nullable = true)
 |    |    |-- cnpj: string (nullable = true)
 |    |    |-- endereco: string (nullable = true)
 |    |    |-- horaAbreDiaUtil: string (nullable = true)
 |    |    |-- horaAbreDomingo: string (nullable = true)
 |    |    |-- horaAbreFeriado: string (nullable = true)
 |    |    |-- horaAbreSabado: string (nullable = true)
 |    |    |-- horaFechaDiaUtil: string (nullable = true)
 |    |    |-- horaFechaDomingo: string (nullable = true)
 |    |    |-- horaFechaFeriado: string (nullable = true)
 |    |    |-- horaFechaSabado: string (nullable = true)
 |    |    |-- latitude: string (nullable = true)
 |    |    |-- longitude: string (nullable = true)
 |    |    |-- nome: string (nullable = true)
 |    |    |-- somenteClientes: boolean (nullable = true)
 |    |    |-- telefone1: string (nullable = true)
 |    |    |-- telefone2: string (nullable = true)
 |    |    |-- tipoAtendimento: string (nullable = true)
 |    |    |-- tipoServico: string (nullable = true)
 |    |    |-- uf: string (nullable = true)

+--------------------+
|    listaPontoCambio|
+--------------------+
|[{Belém, 00000000...|
+--------------------+

In [53]:
dfPrepared = df.selectExpr("explode(listaPontoCambio) as lista")
dfPrepared.show(50)

+--------------------+
|               lista|
+--------------------+
|{Belém, 000000000...|
|{São Paulo, 00000...|
|{Rio de Janeiro, ...|
|{Manaus, 00000000...|
|{Belém, 000000000...|
|{Santos, 00000000...|
|{Recife, 00000000...|
|{Curitiba, 000000...|
|{João Pessoa, 000...|
|{Maceió, 00000000...|
|{Uberaba, 0000000...|
|{Florianópolis, 0...|
|{Aracaju, 0000000...|
|{São Paulo, 00000...|
|{Ilhéus, 00000000...|
|{São Luís, 000000...|
|{Natal, 000000000...|
|{Parnaíba, 000000...|
|{Juiz de Fora, 00...|
|{Ribeirão Preto, ...|
|{Ponta Grossa, 00...|
|{Belo Horizonte, ...|
|{Bauru, 000000000...|
|{Feira de Santana...|
|{Teresina, 000000...|
|{Cuiabá, 00000000...|
|{Campo Grande, 00...|
|{Macaé, 000000000...|
|{Campinas, 000000...|
|{Bebedouro, 00000...|
|{Piracicaba, 0000...|
|{São José do Rio ...|
|{Lins, 0000000000...|
|{Itabuna, 0000000...|
|{Rio Branco, 0000...|
|{Taubaté, 0000000...|
|{Araraquara, 0000...|
|{Rio Grande, 0000...|
|{Rio de Janeiro, ...|
|{Caxias do Sul, 0...|
|{Presidente Prude...|
|{Uberlândia, 0000...|
|{Porto Velho, 000...|
|{Aracati, 0000000...|
|{Tupã, 0000000000...|
|{Marília, 0000000...|
|{Governador Valad...|
|{Quaraí, 00000000...|
|{São José dos Cam...|
|{Araçatuba, 00000...|
+--------------------+
only showing top 50 rows

In [54]:
dfPrepared = dfPrepared.selectExpr("replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(lista.cidade,CHAR(192),'A'),CHAR(193),'A'),CHAR(194),'A'),CHAR(195),'A'),CHAR(196),'A'),CHAR(197),'A'),CHAR(224),'a'),CHAR(225),'a'),CHAR(226),'a'),CHAR(227),'a'),CHAR(228),'a'),CHAR(229),'a'),CHAR(200),'E'),CHAR(201),'E'),CHAR(202),'E'),CHAR(203),'E'),CHAR(232),'e'),CHAR(233),'e'),CHAR(234),'e'),CHAR(235),'e'),CHAR(204),'I'),CHAR(205),'I'),CHAR(206),'I'),CHAR(207),'I'),CHAR(236),'i'),CHAR(237),'i'),CHAR(238),'i'),CHAR(239),'i'),CHAR(210),'O'),CHAR(211),'O'),CHAR(212),'O'),CHAR(213),'O'),CHAR(214),'O'),CHAR(240),'o'),CHAR(242),'o'),CHAR(243),'o'),CHAR(244),'o'),CHAR(245),'o'),CHAR(246),'o'),CHAR(217),'U'),CHAR(218),'U'),CHAR(219),'U'),CHAR(220),'U'),CHAR(249),'u'),CHAR(250),'u'),CHAR(251),'u'),CHAR(252),'u'),CHAR(199),'C'),CHAR(231),'c') as cidade",
        "CAST(lista.cnpj as long) as cnpj",
        "replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(lista.endereco,CHAR(192),'A'),CHAR(193),'A'),CHAR(194),'A'),CHAR(195),'A'),CHAR(196),'A'),CHAR(197),'A'),CHAR(224),'a'),CHAR(225),'a'),CHAR(226),'a'),CHAR(227),'a'),CHAR(228),'a'),CHAR(229),'a'),CHAR(200),'E'),CHAR(201),'E'),CHAR(202),'E'),CHAR(203),'E'),CHAR(232),'e'),CHAR(233),'e'),CHAR(234),'e'),CHAR(235),'e'),CHAR(204),'I'),CHAR(205),'I'),CHAR(206),'I'),CHAR(207),'I'),CHAR(236),'i'),CHAR(237),'i'),CHAR(238),'i'),CHAR(239),'i'),CHAR(210),'O'),CHAR(211),'O'),CHAR(212),'O'),CHAR(213),'O'),CHAR(214),'O'),CHAR(240),'o'),CHAR(242),'o'),CHAR(243),'o'),CHAR(244),'o'),CHAR(245),'o'),CHAR(246),'o'),CHAR(217),'U'),CHAR(218),'U'),CHAR(219),'U'),CHAR(220),'U'),CHAR(249),'u'),CHAR(250),'u'),CHAR(251),'u'),CHAR(252),'u'),CHAR(199),'C'),CHAR(231),'c') as endereco",
        "lista.horaAbreDiaUtil",
        "lista.horaAbreDomingo",
        "lista.horaAbreFeriado",
        "lista.horaAbreSabado",
        "lista.horaFechaDiaUtil", 
        "lista.horaFechaDomingo",
        "lista.horaFechaFeriado",
        "lista.horaFechaSabado",
        "lista.latitude",
        "lista.longitude",
        "replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(lista.nome,CHAR(192),'A'),CHAR(193),'A'),CHAR(194),'A'),CHAR(195),'A'),CHAR(196),'A'),CHAR(197),'A'),CHAR(224),'a'),CHAR(225),'a'),CHAR(226),'a'),CHAR(227),'a'),CHAR(228),'a'),CHAR(229),'a'),CHAR(200),'E'),CHAR(201),'E'),CHAR(202),'E'),CHAR(203),'E'),CHAR(232),'e'),CHAR(233),'e'),CHAR(234),'e'),CHAR(235),'e'),CHAR(204),'I'),CHAR(205),'I'),CHAR(206),'I'),CHAR(207),'I'),CHAR(236),'i'),CHAR(237),'i'),CHAR(238),'i'),CHAR(239),'i'),CHAR(210),'O'),CHAR(211),'O'),CHAR(212),'O'),CHAR(213),'O'),CHAR(214),'O'),CHAR(240),'o'),CHAR(242),'o'),CHAR(243),'o'),CHAR(244),'o'),CHAR(245),'o'),CHAR(246),'o'),CHAR(217),'U'),CHAR(218),'U'),CHAR(219),'U'),CHAR(220),'U'),CHAR(249),'u'),CHAR(250),'u'),CHAR(251),'u'),CHAR(252),'u'),CHAR(199),'C'),CHAR(231),'c') as nome",
        "CAST(lista.somenteClientes as string) as somenteClientes",
        "lista.telefone1",
        "lista.telefone2",
        "lista.tipoAtendimento",
        "lista.tipoServico",
        "lista.uf",
        "CAST(0 as long) as cnpj_instituicao",
        "'' as enderecoEletronico_instituicao", 
        "'' as nome_instituicao")
dfPrepared.show()

+--------------+----+--------------------+---------------+---------------+---------------+--------------+----------------+----------------+----------------+---------------+----------+----------+--------------------+---------------+---------------+---------+---------------+-----------+---+----------------+------------------------------+----------------+
|        cidade|cnpj|            endereco|horaAbreDiaUtil|horaAbreDomingo|horaAbreFeriado|horaAbreSabado|horaFechaDiaUtil|horaFechaDomingo|horaFechaFeriado|horaFechaSabado|  latitude| longitude|                nome|somenteClientes|      telefone1|telefone2|tipoAtendimento|tipoServico| uf|cnpj_instituicao|enderecoEletronico_instituicao|nome_instituicao|
+--------------+----+--------------------+---------------+---------------+---------------+--------------+----------------+----------------+----------------+---------------+----------+----------+--------------------+---------------+---------------+---------+---------------+-----------+---+----------------+------------------------------+----------------+
|         Belem| 191|Av.Comandante Bra...|          10:00|               |               |              |           16:00|                |                |               | -1.455400|-48.490600|Banco do Brasil-a...|          false|(091) 3184-1851|         |              P|          T| PA|               0|                              |                |
|     Sao Paulo| 191|R.Voluntarios da ...|          10:00|               |               |              |           16:00|                |                |               |-23.504463|-46.626349|Banco do Brasil-a...|          false|(011) 2104-4855|         |              P|          T| SP|               0|                              |                |
|Rio de Janeiro| 191|R.Sen.Dantas,105,...|          10:00|               |               |              |           16:00|                |                |               |-22.908910|-43.178149|Banco do Brasil-a...|           true|(021) 3808-3900|         |              P|          T| RJ|               0|                              |                |
|        Manaus| 191|R.Guilherme Morei...|          10:00|               |               |              |           16:00|                |                |               | -3.135501|-60.022957|Banco do Brasil-a...|           true|(092) 3621-5500|         |              P|          T| AM|               0|                              |                |
|         Belem| 191|Av.Pres.Vargas,24...|          10:00|               |               |              |           16:00|                |                |               | -1.449700|-48.497783|Banco do Brasil-a...|           true|(091) 3216-4775|         |              P|          T| PA|               0|                              |                |
|        Santos| 191|R.Quinze de Novem...|          10:00|               |               |              |           16:00|                |                |               |-23.932737|-46.327776|Banco do Brasil-a...|           true|(013) 4009-7455|         |              P|          T| SP|               0|                              |                |
|        Recife| 191|Av.Rio Branco,240...|          10:00|               |               |              |           16:00|                |                |               | -8.062198|-34.873771|Banco do Brasil-a...|           true|(081) 3425-7530|         |              P|          T| PE|               0|                              |                |
|      Curitiba| 191|Pca.Tiradentes,41...|          10:00|               |               |              |           16:00|                |                |               |-25.430403|-49.272318|Banco do Brasil-a...|           true|(041) 3321-2000|         |              P|          T| PR|               0|                              |                |
|   Joao Pessoa| 191| Pca.1817,129,Centro|          10:00|               |               |              |           16:00|                |                |               | -7.121275|-34.883223|Banco do Brasil-a...|           true|(083) 2108-1800|         |              P|          T| PB|               0|                              |                |
|        Maceio| 191|R.Do Livramento,1...|          10:00|               |               |              |           16:00|                |                |               | -9.665840|-35.740500|Banco do Brasil-a...|           true|(082) 3311-1240|         |              P|          T| AL|               0|                              |                |
|       Uberaba| 191|Av.Leopoldino de ...|          10:00|               |               |              |           16:00|                |                |               |-19.748000|-47.935700|Banco do Brasil-a...|           true|(034) 3319-1900|         |              P|          T| MG|               0|                              |                |
| Florianopolis| 191|Pca.Quinze de Nov...|          10:00|               |               |              |           16:00|                |                |               |-27.596762|-48.548980|Banco do Brasil-a...|           true|(048) 3221-1600|         |              P|          T| SC|               0|                              |                |
|       Aracaju| 191|Pca.Gal.Valadao,3...|          10:00|               |               |              |           16:00|                |                |               |-10.909100|-37.048600|Banco do Brasil-a...|           true|(079) 3212-1000|         |              P|          T| SE|               0|                              |                |
|     Sao Paulo| 191|R.Sao Bento,483,C...|          10:00|               |               |              |           16:00|                |                |               |-23.546538|-46.635358|Banco do Brasil-a...|           true|(011) 3491-3992|         |              P|          T| SP|               0|                              |                |
|        Ilheus| 191|R.Marques de Para...|          10:00|               |               |              |           16:00|                |                |               |-14.798900|-39.034200|Banco do Brasil-a...|           true|(073) 3634-2813|         |              P|          T| BA|               0|                              |                |
|      Sao Luis| 191|Av.Gomes de Castr...|          10:00|               |               |              |           16:00|                |                |               | -2.529530|-44.303000|Banco do Brasil-a...|           true|(098) 3216-3500|         |              P|          T| MA|               0|                              |                |
|         Natal| 191|Av.Rio Branco,510...|          10:00|               |               |              |           16:00|                |                |               | -5.784199|-35.206143|Banco do Brasil-a...|           true|(084) 3216-4538|         |              P|          T| RN|               0|                              |                |
|      Parnaiba| 191|Pca.Da Graca,340,...|          10:00|               |               |              |           16:00|                |                |               | -2.903587|-41.779999|Banco do Brasil-a...|           true|(086) 3321-2925|         |              P|          T| PI|               0|                              |                |
|  Juiz de Fora| 191|R.Halfeld,770,Centro|          10:00|               |               |              |           16:00|                |                |               |-21.761125|-43.348723|Banco do Brasil-a...|           true|(032) 3690-5000|         |              P|          T| MG|               0|                              |                |
|Ribeirao Preto| 191|R.Duque de Caxias...|          10:00|               |               |              |           16:00|                |                |               |-21.175600|-47.807500|Banco do Brasil-a...|           true|(016) 3323-7660|         |              P|          T| SP|               0|                              |                |
+--------------+----+--------------------+---------------+---------------+---------------+--------------+----------------+----------------+----------------+---------------+----------+----------+--------------------+---------------+---------------+---------+---------------+-----------+---+----------------+------------------------------+----------------+
only showing top 20 rows

In [56]:
spark.sql("select count(0) from dfPrepared").show()

+--------+
|count(0)|
+--------+
|     316|
+--------+

In [57]:
df2 = spark.sql("select count(*),uf from dfPrepared group by 2 order by 1 desc")
df2.show(1000)

+--------+---+
|count(1)| uf|
+--------+---+
|      87| SP|
|      84| RJ|
|      21| DF|
|      15| MG|
|      13| BA|
|      13| RS|
|      10| CE|
|      10| PR|
|       9| ES|
|       8| SC|
|       5| GO|
|       5| RN|
|       4| MT|
|       4| AL|
|       3| PI|
|       3| PA|
|       3| SE|
|       3| PB|
|       3| AM|
|       3| PE|
|       3| MS|
|       2| MA|
|       1| RO|
|       1| TO|
|       1| RR|
|       1| AC|
|       1| AP|
+--------+---+

In [58]:
import pandas as pd
df_pandas = df2.select("*").toPandas()
df_normalized = df2.toPandas()

In [59]:
df_normalized.head()

   count(1)  uf
0        87  SP
1        84  RJ
2        21  DF
3        15  MG
4        13  RS

In [61]:
# análises extras
df_normalized.head(500)

    count(1)  uf
0         87  SP
1         84  RJ
2         21  DF
3         15  MG
4         13  RS
5         13  BA
6         10  CE
7         10  PR
8          9  ES
9          8  SC
10         5  GO
11         5  RN
12         4  MT
13         4  AL
14         3  PI
15         3  AM
16         3  PB
17         3  MS
18         3  PA
19         3  SE
20         3  PE
21         2  MA
22         1  RO
23         1  RR
24         1  TO
25         1  AC
26         1  AP